@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family: "Montserrat", sans-serif;
  color: var(--text-black);
}

:root{
  --text-black: #333332;
  --primary-color: #A79277;
  --secondary-color: #D1BB9E;
  --tertiary-color: #EAD8C0;
  --quaternary-color: #FFF2E1;
  --blue-color: #2E86AB;
  --green-color: #69d40b;
}

/* Experience ------------------------*/

.experience{
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.experience-canvas{
  width: 100%;
  height: 100%;
}

/* Toggle Bar  ------------------------*/

.toggle-bar{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 48px;
  right: 48px;
  z-index: 1000;
}

.sun-wrapper, .moon-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.toggle-button{
  cursor: pointer;
  position: relative;
  width: 56px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 999px;
  margin: 0px 16px;
  border: nonte;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.toggle-circle{
  position: absolute;
  left: 6px;
  border-radius: 50%;
  width: 20px;
  background-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

.toggle-button:hover .toggle-circle{
  width: 16px;
  height: 16px;
}

/* Page  ------------------------*/

.page{
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page-wrapper{
  position: relative;
}

/* Section Formating ------------------*/

.section-margin{
  height: 3000px;
  width: 100%;
}

.section{
  width: 50%;
  padding: 1000px 4%;
  margin: 0;
  background-color: var(--primary-color);
}

.left{
  margin-right: auto;
}

.right{
  margin-left: auto;
}

.section-intro-wrapper{
  position: relative;
  padding: 20% 5%;
  border-bottom: 2px solid var(--tertiary-color);
  padding-bottom: 400px;
}

.section-detail-wrapper{
  position: relative;
  padding: 20% 5%;
}

.section-heading{
  font-size: 18px;
  font-weight: 700;
  line-height: 1.8;
  margin-top: 64px;
}

.section-text{
  line-height: 2;
  margin-top: 18px;
  font-size: 16px;
}

/* Fancy Decoration Part of Section ------------------*/
.section-title{
  position: relative;
  color: var(--tertiary-color)
}

.section-title-text{
  display: block;
  font-size: 40px;
  font-weight: 500;
  transform-origin: left;
  transform: skewY(25deg);
  z-index: 5;
  text-transform: uppercase;
}

.s1, .s2, .s3{
  position: absolute;
  display: block;
  width: 100%;
  max-width: 278px;
  height: 60px;
  border: 1px solid var(--tertiary-color);
  transform-origin: left;
  transform: skewY(-25deg);
}

.s1{
  top: 0px;
}
.s2{
  top: 80px;
}
.s3{
  top: 80px;
  transform: skewY(25deg);
  background-color: var(--tertiary-color);
}

.section-number{
  position: absolute;
  bottom: 15px;
  right: 0;
  color: var(--tertiary-color);
  font-size: 20px;
}

/* Hero section ------------------*/
.hero{
  width: 100vw;
  height: 100vh;
}

.hero-wrapper{
  position: relative;
  height: 100%;
  width: calc(100% - 160px);
  margin: 0 auto;
  max-width: 1400px;
}

.hero-main{
  position: absolute;
  bottom: 168px;
  left: 0;
}

.hero-second{
  position: absolute;
  top: 40%;
  right: 0;
}

.hero-main-title{
  font-size: 64px;
}

.hero-main-description{
  font-size: 24px;
}

.hero-second-subheading{
  font-size: 32px;
  text-transform: uppercase;
}

.blue-text{
  color: var(--blue-color)
}

.blue-border{
  border-color: var(--blue-color)
}

.blue-background{
  background-color: var(--blue-color)
}

.green-text{
  color: var(--green-color)
}

.green-border{
  border-color: var(--green-color)
}

.green-background{
  background-color: var(--green-color)
}

/* Work section ------------------*/
.project-holder{
  display: flex;
  flex-direction: column !important;
  gap:7rem;
}

.project{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.project:nth-child(odd){
  flex-direction: row;
}

.project:nth-child(even){
  flex-direction: row-reverse;
}

.project-details{
  width: 60%;
}
.project-overview{
  position: relative;
  width: 60%;
  height: 12rem;
}
.project img{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: red;
  border-radius: 5px;
  object-fit: cover;
  z-index: 1;
}

.project-title{
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
}

.project-description{
  font-size: 18px;
  line-height: 1.25;
}

.p-overlay{
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 120%);
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.p-overlay p{
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: rgba(255, 255, 255, 0.9);
  font-size: 15px;
  font-weight: 400;
}
.project-overview:hover .p-overlay{
  opacity: 0;
}

/* Project Dialog ------------------*/
.project-dialog{
  display: flex;
  padding: 3%;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  gap: 1.5rem;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Project info ------------------*/
.project-info{
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 25%;
  height: 100%;
  background-color: rgb(0,0,0,0.3);
  backdrop-filter: blur(18px);
  border-radius: 5px;
  color: rgb(255,255,255,0.8);
}

.info-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.65rem;
  border-bottom: 1px solid rgb(255,255,255,0.8);
}
.info-header svg {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  fill: white;
  opacity: 0.5;
  transition: all 0.1s ease-in-out;
}

.info-header svg:hover{
  opacity: 1;
}

.icons-container{
  margin-top: auto;
}

.icons-holder{
  display: flex;
  gap: 1rem;
  border-top: 1px solid rgb(255,255,255,0.8);
  padding-top: 1rem;
  margin-top: 1rem;


}


/* Carousel ------------------*/
.project-carousel{
  width: 75%;
  height: 100%;
  border-radius: 5px;
  background-color: black;
}

ul.slides {
  display: block;
  position: relative;
  height: 88.7vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
  border-radius: 5px;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.slides input {
  display: none; 
}


.slide-container { 
  display: block; 
}

.slide-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all .7s ease-in-out;
  cursor: pointer;
}   

.slides:hover .image-desc {
  opacity: 1;
}

.image-desc{
  transition: all 0.3s ease-in-out;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
  color: rgba(255, 255, 255, 0.9);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 120%);
}
.text-info{
  position: absolute;
  bottom: 10%;
  left: 5%;
}
.image-desc p{
  margin: 0;
  margin-top: 0.3rem;
}

.image-desc h2{
  font-weight: 200;
  font-size: 35px;
  color: rgba(255, 255, 255, 0.9);
  margin: 0;
}
.slide-image img {
  width: auto;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 2;
}

.carousel-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
}

.carousel-dots .carousel-dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  margin: 10px;
  cursor: pointer;
}

input:checked + .slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
    display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }


/* Media Queries */
@media (max-width: 968px){
  .section{
    width: 100%;
  }
}
